/* General Reset */ 

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* Typography */ 

/* body content */ 
body {
    font-family: 'Shantell Sans', cursive;
    font-size: 1.125rem;
    line-height: 1.6;   
}

/* headings */
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Rampart One', cursive;
}

h1 {
    font-size: 3rem;
    text-align: center;

}

/* p:has(> a) {
    text-align: center; 
}  */

/* Layout & Apperance */ 

header {
    height: 15vw;
    background-color:#FF8360; 
    color: #fff;   
}

.main-wrapper {
    width: 80vw; 
    margin: 0 auto;
    border: 2px solid #999; 
    padding: 1em;  
}

/* section */ 
main section > div + p {
    background-color: #3CDBD3;
    padding: 1.5em; 
    font-size: 15px; 
    margin: 1em;
    padding-left: 2em;

}

main section:nth-of-type(2) p {
    background-color: #E8E288;
    padding: 1em;  
    display: flex;
    
}
.section1 {
    padding: 1em;  
    display: flex;
    gap: 1em;
}

/* footer */ 

footer p,
footer a {
    background-color:#7DCE82; 
    color: #fff;
    padding: 2em;
    border: 2px solid #fff;  
}

footer{
    display: flex;
}

footer p {
    text-align:center; 
    width: 50%; 
}

footer a {
    background-color:#FF8360;
}

footer a:hover {
    background-color: #9C528B; 
}

img{
    float: left;
}